.rectangle {
  height: 70px;
  width: 60px;
  background-color: brown;
  margin: 50pz auto;
}

.main-picture {
  height: 200px;
  width: 50%;
  margin-left: 25%;
  border-radius: 10px;
}

.joon {
  width: 20%;
  border: 1px solid;
}

.navigation-pictures {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.navigation-pictures img {
  height: 150px;
  width: 250px;
  cursor: pointer;
}

.navigation-pictures img:hover {
  scale: 1.1;
  transition: 0.5s;
  box-shadow: 0 8px 100px 0px;
}

.main-link {
  color: white;
  background-color: red;
  width: 300px;
  height: 200px;
  margin-top: 20px;
  padding: 20px,0;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto";
}

.facebook-button img {
  height: 30px;
  padding: 20px 10px;
}

.facebook-button span {
  position: relative;
  top: -30px;
  height: 30px;
  color: red; 
}

.facebook-button span:hover {
  color: #7ba9c3;
  cursor: pointer;
}

.sinu-CSS-klass-kui-aktiivne {
 background-color: blue; 
 color: white;
}