.App {
  text-align: center;
}

.nupp {
  background-color: green;
  color: lightgray;
}

.nupp:hover {
  height: 100px;
  width: 100px;
}

.nupp:active {
  cursor: grab;
}

.tekst {
  color: blue;
  font-style: italic;
}

.tekst:hover {
  font-size: 24px;
}

.tekst2 {
 border: solid red;
 font-weight: bold;
 color: green;
}

.tekst2:hover {
  border: solid brown;
}

.pilt {
  float: right;
}

.pilt:hover {
  opacity: 0.4;
  border-radius: 50px;
}