.App {
  text-align: center;
}

.pilt {
  /* width: 100px; */
  height: 100px;
  border-radius: 10px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 70%;
}

.pilt:active {
transform: scale(90%)
}

.nupp {
  font-weight: bold;
  border-width: 1px;
  border-radius: 7px;
  border-color: brown;
}

.nupp:hover {
  cursor: pointer;
  opacity: 70%;
}

.nupp:active {
  text-decoration: underline;
}

.kuldne {
  color: goldenrod;
}

.linn-aktiivne {
  font-weight: bold;
}

.linn, .linn-aktiivne {
  font-size: 20px;
}

.summa-aktiivne {
color: red;
border-color: blueviolet;
}

.summa-aktiivne, .summa {
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
}

.keel-aktiivne {
  text-decoration: underline;
}

td, th {
  border: 1px solid black;  
}

table {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.protsent-aktiivne {
  background-color: blue;
}

.kalkulaator td:hover {
  cursor: pointer;
}

.kalkulaator td:active {
  background-color: lightgray;
}

.halda th {
  background-color: lightgray;
}

.pilt-mitteaktiivne {
  height: 100px;
  border-radius: 10px;
  filter: grayscale(100%);
  opacity: 0.5;
}

.map {
  height: 300px;
  margin: 3%;
  border-radius: 10px;
}